<div id="headline">
  <h1>Задачи</h1>
 
  <div id="plus">
    <button mat-icon-button (click)="openDialog(projects)" color="warn" id="plusbutton"><img src="assets/images/addIcon.png" alt="Добавить" style="vertical-align: middle; "></button>
  </div>
</div>


<main>
  <div class="" *ngFor="let project of projects">       
    <div id="todoCard" class="title">
      <h3>{{project.title}}</h3>
      <hr id="delimeter" noshade>
      <ul *ngFor="let todo of project.todos"> 
        <li *ngIf = "todo.isCompleted">
        <input  type="checkbox" id="check" (change)="updateTodo(project.id,todo.id)" checked>
        <span id="completed">{{todo.text}}</span>
      </li>
      <li *ngIf = "!todo.isCompleted">
        <input type="checkbox" id="check" (change)="updateTodo(project.id,todo.id)">
        <span id="uncompleted">{{todo.text}}</span>
      </li>
      </ul>
    </div>
  </div>
</main>
